# Created by .ignore support plugin (hsz.mobi)
.idea/
face_recognition/.editorconfig
face_recognition/.github/
face_recognition/.gitignore
face_recognition/.travis.yml
face_recognition/AUTHORS.rst
face_recognition/CONTRIBUTING.rst
face_recognition/Dockerfile
face_recognition/Dockerfile.gpu
face_recognition/HISTORY.rst
face_recognition/LICENSE
face_recognition/MANIFEST.in
face_recognition/Makefile
face_recognition/README.md
face_recognition/README.rst
face_recognition/README_Korean.md
face_recognition/README_Simplified_Chinese.md
face_recognition/docker-compose.yml
face_recognition/docs/
face_recognition/examples/alex-lacamoire.png
face_recognition/examples/benchmark.py
face_recognition/examples/biden.jpg
face_recognition/examples/blur_faces_on_webcam.py
face_recognition/examples/digital_makeup.py
face_recognition/examples/face_distance.py
face_recognition/examples/face_recognition_knn.py
face_recognition/examples/face_recognition_svm.py
face_recognition/examples/facerec_from_video_file.py
face_recognition/examples/facerec_from_webcam.py
face_recognition/examples/facerec_from_webcam_faster.py
face_recognition/examples/facerec_from_webcam_multiprocessing.py
face_recognition/examples/facerec_on_raspberry_pi.py
face_recognition/examples/facerec_on_raspberry_pi_Simplified_Chinese.py
face_recognition/examples/find_faces_in_batches.py
face_recognition/examples/find_faces_in_picture.py
face_recognition/examples/find_faces_in_picture_cnn.py
face_recognition/examples/find_facial_features_in_picture.py
face_recognition/examples/hamilton_clip.mp4
face_recognition/examples/identify_and_draw_boxes_on_faces.py
face_recognition/examples/ipynb_examples/
face_recognition/examples/knn_examples/
face_recognition/examples/lin-manuel-miranda.png
face_recognition/examples/obama-1080p.jpg
face_recognition/examples/obama-240p.jpg
face_recognition/examples/obama-480p.jpg
face_recognition/examples/obama-720p.jpg
face_recognition/examples/obama.jpg
face_recognition/examples/obama2.jpg
face_recognition/examples/obama_small.jpg
face_recognition/examples/recognize_faces_in_pictures.py
face_recognition/examples/short_hamilton_clip.mp4
face_recognition/examples/two_people.jpg
face_recognition/examples/web_service_example.py
face_recognition/examples/web_service_example_Simplified_Chinese.py
face_recognition/face_recognition/__init__.py
face_recognition/face_recognition/api.py
face_recognition/face_recognition/face_detection_cli.py
face_recognition/face_recognition/face_recognition_cli.py
face_recognition/pictures_of_people_i_know/
face_recognition/requirements.txt
face_recognition/requirements_dev.txt
face_recognition/requirements_docs.txt
face_recognition/setup.cfg
face_recognition/setup.py
face_recognition/tests/__init__.py
face_recognition/tests/test_face_recognition.py
face_recognition/tests/test_images/
face_recognition/tox.ini
face_recognition/unknown_pictures/
venv/
face_recognition/